﻿@model CityCycles.Api.Emailing.Models.FailedOrderEmail

<div class="row">
   
    <div class="card col-md-12">
        <div class="card-header k-font-bolder">
            Ooops, We could not process your order
        </div>
        <div class="card-body">
            <div class="alert alert-danger fade show" role="alert">
                <div class="alert-icon"><i class="flaticon-questions-circular-button"></i></div>
                <div class="alert-text">
                    @Model.Reason
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6">
                    <strong>Dock</strong>
                </div>
                <div class="col-md-6">
                    @Model.DockName
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6">
                    <strong> Start Time</strong>
                </div>
                <div class="col-md-6">
                    @Model.StartTime
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6">
                    <strong>End Time</strong>
                </div>
                <div class="col-md-6">
                    @Model.EndDate
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6">
                    <stront>Card used</stront>
                </div>
                <div class="col-md-6">
                    @Model.Last4Digits
                </div>
            </div>
        </div>
        <div class="card-footer text-muted">
            Kind regards, <br />
            Citycycles
        </div>
    </div>
</div>