﻿@using Braintree;
@model CityCycles.Api.Emailing.Models.ReceiptModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1280px, initial-scale=1.0" />

    <link href="https://pmemanagementstorage.blob.core.windows.net/b2c-files/Theme%20Files/style.bundle.css" rel="stylesheet">
</head>


<body style="min-width: 1280px;">
    <!-- begin:: Content Body -->
    <div class="k-content__body k-grid__item k-grid__item--fluid">
        <div class="k-portlet">
            <div class="k-invoice-v2">
                <div class="k-invoice-v2__header">
                    <div class="k-invoice-v2__header-left">
                        <h1 class="k-invoice-v2__title">RECEIPT</h1>
                    </div>
                    <div class="k-invoice-v2__header-right">
                        <div class="k-invoice-v2__companyinfo">
                            City Cycles
                        </div>
                    </div>
                </div>
                <div class="k-invoice-v2__line"></div>
                <div class="k-invoice-v2__details">
                    <div class="k-invoice-v2__details-left">
                        <div class="k-invoice-v2__details-label">INVOICE TO:</div>
                        <div class="k-invoice-v2__details-value">

                            @Model.FirstName<br>
                            @Model.LastName
                        </div>
                    </div>
                    <div class="k-invoice-v2__details-right">
                        <div class="k-invoice-v2__detail--date">
                            <div class="k-invoice-v2__details-label">DATE:</div>
                            <div class="k-invoice-v2__details-value">@Model.OrderDate.ToString("dddd, dd MMMM yyyy") </div>
                        </div>
                        <div class="k-invoice-v2__details--invoiceno">
                            <div class="k-invoice-v2__details-label">Order Id:</div>
                            <div class="k-invoice-v2__details-value">@Model.BookingId</div>
                        </div>
                    </div>
                    <div class="k-invoice-v2__details-left">
                        <div class="k-invoice-v2__details-label">Credit card:</div>
                        <div class="k-invoice-v2__details-value">

                            @Model.CardType, ****
                            @Model.Last4Digits
                        </div>
                    </div>
                </div>
                <div class="k-invoice-v2__body">
                    <div class="table-responsive">
                        <table class="k-invoice-v2__summary">
                            <thead class="k-invoice-v2__summary-header">
                                <tr>
                                    <th>Item</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody class="k-invoice-v2__summary-body">
                                <tr>
                                    <td>Booking Fee</td>
                                    <td>1</td>
                                    <td>£ @Model.BookingFee</td>
                                </tr>
                                <tr>
                                    <td>Booking Time</td>
                                    <td>@Model.OrderQuantity</td>
                                    <td>£ @Model.TimeTotal</td>
                                </tr>
                                <tr>
                                    <td><b>TOTAL:</b></td>
                                    <td></td>
                                    <td><b>£@Model.GrandTotal</b></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="@Model.ReceiptUrl">
                        <div class="card-body">
                            <p class="card-text">Scan this QR code to be taken to your online receipt.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- end:: Content Body -->
</body>
</html>
