﻿@model CityCycles.Api.Emailing.Models.RegisterEmailModel

<h1> @(Model.PreviewMessage)</h1>


<div class="k-portlet">
    <div class="k-portlet__head">
        <div class="k-portlet__head-label">
            <h3 class="k-portlet__head-title">
                What's next?
            </h3>
        </div>
    </div>
    <div class="k-portlet__body">
        <div class="k-portlet__content">
            <div class="accordion accordion-outline">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            Using our docks
                        </div>
                    </div>
                    <div class="card-body-wrapper collapse show">
                        <div class="card-body">
                            To rent a bike, you may pre-book online to ensure there is a vacant bike or you can simply visit your local dock and rent any free bikes there. <br />
                            If you pre-book a bike, you will be sent a confirmation email with a QR code to scan at the dock to pick up your bike. <br />
                            Alternatively, you may also download our free app and login to use NFC to scan your phone against the dock in order to collect your bike.
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            How to place booking
                        </div>
                    </div>
                    <div class="card-body-wrapper collapse show">
                        <div class="card-body">
                            Visit our website, City Cycles, and register/login. <br />
                            Select "Booking" from the side menu. <br />
                            From the drop down, select "Make Booking". <br />
                            Select a dock from the drop down menu, pick your dates & times and follow through the payment. <br />
                            You will receive an email confirming your booking and a QR code will be attached to it for you to use at the dock.
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            View my bookings
                        </div>
                    </div>
                    <div class="card-body-wrapper collapse show">
                        <div class="card-body">
                            Visit our website, City Cycles, and register/login. <br />
                            Select "Booking" from the side menu. <br />
                            From the drop down, select "My Bookings". <br />
                            You can see the statuses of your orders and if the payment has been accepted, then you will be able to view the receipt for that order.
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

