﻿@model CityCycles.Web.Models.PricingModel

<form autocomplete="off" asp-antiforgery="true" asp-action="Create" asp-controller="Pricing">
    <div class="k-portlet">
        <div class="k-portlet__head">
            <div class="k-portlet__head-label">
                <span class="k-portlet__head-icon"><i class="flaticon-plus"></i></span>
                <h3 class="k-portlet__head-title">Create a pricing structure</h3>
            </div>
        </div>
        <div class="k-portlet__body">
            <div class="form-group row">
                <div class="col-lg-6">
                    <label>Label</label>
                    <input asp-for="Label" class="form-control" placeholder="e.g Discount, Summer, winter">
                    <span class="form-text text-muted">Enter an Identifier for this pricing scheme</span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-6">
                    <label>Hourly rate</label>
                    <input asp-for="Hourly" class="form-control" placeholder="£0.00">
                    <span class="form-text text-muted">Enter the hourly cost</span>
                </div>
                <div class="col-lg-6">
                    <label class="">Overdue Hourly Rate:</label>
                    <input asp-for="OverdueHourly" type="text" class="form-control" placeholder="£0.00">
                    <span class="form-text text-muted">Enter the overdue hourly cost</span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-6">
                    <label>Booking Fee</label>
                    <input asp-for="BookingFee" class="form-control" placeholder="£0.00">
                    <span class="form-text text-muted">Enter the booking fee</span>
                </div>
                <div class="col-lg-6">
                    <label class="">Missed Booking Fee:</label>
                    <input asp-for="MissedBookingFee" type="text" class="form-control" placeholder="£0.00">
                    <span class="form-text text-muted">Enter the missed booking fee</span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-6">
                    <label>Hourly rate</label>
                    <input asp-for="DiscountRate" class="form-control" placeholder="£0.00">
                    <span class="form-text text-muted">Enter the discounted hourly cost</span>
                </div>
            </div>

            <hr class="w-50" />

            <div class="form-group row">
                <div class="col-lg-6">
                    <label>
                        INFORMATION ON HOW THE PRICING WORKS SHOULD BE PUT HERE, THIS NEEDS
                        TO BE UPDATED ONCE AGREED UPON
                    </label>
                </div>
            </div>



        </div>

        <div class="k-portlet__foot">
            <div class="k-form__actions">
                <div class="row">
                    <div class="col-lg-6">
                        <button type="submit" class="btn btn-success">Create pricing scheme</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section scripts {
    <script>
    $(function () {
        $("#pricing-menu-item").addClass("k-menu__item--open k-menu__item--here");
        $("#pricing-menu-item-create").addClass("k-menu__item--active");
    });</script>
}
