@model List<CityCycles.Web.Models.PricingModel>
@{
    ViewData["Title"] = "Pricing Schemes";
}

<!--begin:: dock details-->
<div class="k-portlet k-portlet--mobile">
    <div class="k-portlet__head">
        <div class="k-portlet__head-label">
            <h3 class="k-portlet__head-title">
                Pricing Schemes
            </h3>
        </div>

        <div class="k-portlet__head-toolbar">
            <div class="k-portlet__head-toolbar-wrapper">
                <div class="dropdown dropdown-inline">
                    <a class="btn btn-brand" asp-action="Create">
                        <i class="la la-plus"></i>
                        New
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="k-portlet__body">

        <!--begin: Datatable -->
        <div id="k_table_1_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
            <div class="row">
                <div class="col-sm-12">
                    <div class="dataTables_scroll">
                        <div class="dataTables_scrollBody"
                             style="position: relative; overflow: auto; width: 100%; max-height: 50vh;">
                            <table class="table table-striped- table-bordered table-hover table-checkable dataTable no-footer"
                                   id="k_table_1" role="grid" aria-describedby="k_table_1_info">
                                <thead>
                                    <tr role="row">
                                        <th aria-controls="k_table_1" rowspan="1" colspan="1">
                                            <div class="dataTables_sizing">
                                                Name
                                            </div>
                                        </th>
                                        <th aria-controls="k_table_1" rowspan="1" colspan="1">
                                            <div class="dataTables_sizing">
                                                Hourly
                                            </div>
                                        </th>
                                        <th aria-controls="k_table_1" rowspan="1" colspan="1">
                                            <div class="dataTables_sizing">
                                                Overdue Hourly
                                            </div>
                                        </th>
                                        <th aria-controls="k_table_1" rowspan="1" colspan="1">
                                            <div class="dataTables_sizing">
                                                Booking fee
                                            </div>
                                        </th>
                                        <th rowspan="1" colspan="1">
                                            <div class="dataTables_sizing">
                                                Missed booking fee
                                            </div>
                                        </th>
                                        <th rowspan="1" colspan="1">
                                            <div class="dataTables_sizing">
                                                Discounted hourly
                                            </div>
                                        </th>
                                        <th aria-controls="k_table_1" rowspan="1" colspan="1">
                                            <div class="dataTables_sizing">
                                                Last Updated On
                                            </div>
                                        </th>
                                        <th aria-controls="k_table_1" rowspan="1" colspan="1">
                                            <div class="dataTables_sizing">
                                                Last Updated By
                                            </div>
                                        </th>
                                        <th rowspan="1" colspan="1">

                                        </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var pricing in Model)
                                    {
                                    <tr role="row" class="odd">
                                        <td>
                                            @pricing.Label
                                        </td>

                                        <td>
                                            £ @pricing.Hourly.ToString("0.##")
                                        </td>
                                        <td>
                                            £ @pricing.OverdueHourly.ToString("0.##")
                                        </td>
                                        <td>
                                            £ @pricing.BookingFee.ToString("0.##")
                                        </td>
                                        <td>
                                            £ @pricing.MissedBookingFee.ToString("0.##")
                                        </td>
                                        <td>
                                            £ @pricing.DiscountRate.ToString("0.##")
                                        </td>
                                        <td>
                                            @pricing.UpdatedAt
                                        </td>
                                        <td>
                                            @pricing.UpdatedBy
                                        </td>
                                        <td nowrap="">
                                            <form id="dock-location-form-@(pricing.Id)" asp-antiforgery="true" method="post" asp-action="Delete">
                                                <input type="hidden" name="DockId" value="@pricing.Id" />
                                                <span class="dropdown">
                                                    <a href="#" class="btn btn-hover-brand btn-icon btn-pill"
                                                       data-toggle="dropdown" aria-expanded="false">
                                                        <i class="la la-ellipsis-h"></i>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-right"
                                                         x-placement="bottom-end"
                                                         style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-208px, 30px, 0px);">
                                                        <a class="dropdown-item" asp-controller="Pricing" asp-action="Update" asp-route-id="@pricing.Id">
                                                            <i class="la la-edit"></i> Edit
                                                        </a>
                                                        <a asp-controller="Pricing" asp-action="Delete" asp-route-id="@pricing.Id" class="dropdown-item delete" data-dockId="@pricing.Id">
                                                            <i class="la la-trash"></i> Delete
                                                        </a>
                                                    </div>
                                                </span>
                                            </form>
                                        </td>
                                    </tr>
                                    }
                                </tbody>

                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--end: Datatable -->
    </div>
</div>


@section scripts {
    <script>$(function () {
            $("#pricing-menu-item").addClass("k-menu__item--open k-menu__item--here");
            $("#pricing-menu-item-view").addClass("k-menu__item--active");
        });</script>
}