﻿@model CityCycles.Composite.Model.Pricing.PricingRequest


@{
    if (!ViewData.ModelState.IsValid && ViewBag.CustomError == true)
    {

        @:<div class="alert alert-danger">
            @:<div class="alert-icon">
                @: <i class="flaticon-warning"></i>
            @: </div>
            @:<div class="alert-text">
                @Html.ValidationMessage("Custom-Error")
            @: </div>
        @: </div>
    }
}


<form asp-antiforgery="true" autocomplete="off" asp-action="Update" asp-controller="Pricing">
    <input asp-for="Id" type="hidden" />
    <div class="k-portlet">
        <div class="k-portlet__head">
            <div class="k-portlet__head-label">
                <span class="k-portlet__head-icon"><i class="flaticon-edit"></i></span>
                <h3 class="k-portlet__head-title">Updating Pricing Scheme <small> @Model.Label</small> </h3>

            </div>
        </div>
        <div class="k-portlet__body">
            <div class="form-group row">
                <div class="col-lg-6">
                    <label>Pricing Label</label>
                    <input asp-for="Label" class="form-control" placeholder="Name">
                    <span class="form-text text-muted">Friendly Name for the pricing model</span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-6">
                    <label>Hourly rate</label>
                    <input asp-for="Hourly" class="form-control" placeholder="£0.00">
                    <span class="form-text text-muted">Enter the hourly cost</span>
                </div>
                <div class="col-lg-6">
                    <label class="">Overdue Hourly Rate:</label>
                    <input asp-for="OverdueHourly" type="text" class="form-control" placeholder="£0.00">
                    <span class="form-text text-muted">Enter the overdue hourly cost</span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-6">
                    <label>Booking Fee</label>
                    <input asp-for="BookingFee" class="form-control" placeholder="£0.00">
                    <span class="form-text text-muted">Enter the booking fee</span>
                </div>
                <div class="col-lg-6">
                    <label class="">Missed Booking Fee:</label>
                    <input asp-for="MissedBookingFee" type="text" class="form-control" placeholder="£0.00">
                    <span class="form-text text-muted">Enter the missed booking fee</span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-6">
                    <label>Discounted Booking Fee</label>
                    <input asp-for="DiscountRate" class="form-control" placeholder="£0.00">
                    <span class="form-text text-muted">Booking discounted rate after 3 hours</span>
                </div>
            </div>
        </div>

        <div class="k-portlet__foot">
            <div class="k-form__actions">
                <div class="row">
                    <div class="col-lg-6">
                        <button type="submit" class="btn btn-success">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section scripts {
    <script>$(function () {
            $("#pricing-menu-item").addClass("k-menu__item--open k-menu__item--here");
            $("#pricing-menu-item-view").addClass("k-menu__item--active");
        });</script>
}
