@model CityCycles.Api.Emailing.Models.IBaseEmailModel

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link href="https://pmemanagementstorage.blob.core.windows.net/b2c-files/Theme%20Files/style.bundle.css" rel="stylesheet">
</head>


<body style="outline: 0; width: 100%; min-width: 100%; height: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; font-family: Helvetica, Arial, sans-serif; line-height: 24px; font-weight: normal; font-size: 16px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0; padding: 0; border: 0;">
    <div class="preview" style="display: none; max-height: 0px; overflow: hidden;">
        @Model.PreviewMessage ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    </div>

    <div class="container">
        @RenderBody()
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>