﻿@model List<CityCycles.Composite.Model.Dock.DockStatus>

@{
    ViewData["Title"] = "DockLocations";
}
<style>
    /* Size of the map */
    #map {
        height: 400px; /* The height is 400 pixels */
        width: 100%; /* The width is the width of the web page */
    }
</style>

<!--begin:: Map  -->
<div id="map"></div>
<!--end:: Map-->

<hr class="w-50" />

<!--begin:: dock details-->
<div class="k-portlet k-portlet--mobile">
    <div class="k-portlet__head">
        <div class="k-portlet__head-label">
            <h3 class="k-portlet__head-title">
                Docks
            </h3>
        </div>

        <div class="k-portlet__head-toolbar">
            <div class="k-portlet__head-toolbar-wrapper">
                <div class="dropdown dropdown-inline">
                    <a class="btn btn-brand" asp-action="OnBoard">
                        <i class="la la-plus"></i>
                        New
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="k-portlet__body">

        <!--begin: Datatable -->
        <div id="k_table_1_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
            <div class="row">
                <div class="col-sm-12">
                    <div class="dataTables_scroll">
                        <div class="dataTables_scrollBody"
                             style="position: relative; overflow: auto; width: 100%; max-height: 50vh;">
                            <table class="table table-striped- table-bordered table-hover table-checkable dataTable no-footer"
                                   id="k_table_1" role="grid" aria-describedby="k_table_1_info">
                                <thead>
                                    <tr role="row">
                                        <th aria-controls="k_table_1" rowspan="1" colspan="1">
                                            <div class="dataTables_sizing">
                                                Location
                                            </div>
                                        </th>
                                        <th aria-controls="k_table_1" rowspan="1" colspan="1">
                                            <div class="dataTables_sizing">
                                                Capacity
                                            </div>
                                        </th>
                                        <th rowspan="1" colspan="1">
                                            <div class="dataTables_sizing">
                                                Bikes
                                            </div>
                                        </th>
                                        <th rowspan="1" colspan="1">

                                        </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var dock in Model)
                                    {
                                        <tr role="row" class="odd">
                                            <td>
                                                @(dock.DockName)
                                            </td>
                                            <td>
                                                @(dock.MaximumCapacity)
                                            </td>
                                            <td>
                                                <div class="k-list k-list--badge">
                                                    @foreach (var bike in dock.Bikes)
                                                    {
                                                        <div class="k-list__item">
                                                            @switch (bike.Status)
                                                            {
                                                                case CityCycles.Composite.Enums.BikeStatus.Available:
                                                                    {
                                                                        <span class="k-list__badge k-list__badge--success"></span>
                                                                        break;
                                                                    }
                                                                case CityCycles.Composite.Enums.BikeStatus.Busy:
                                                                    {
                                                                        <span class="k-list__badge k-list__badge--primary"></span>
                                                                        break;
                                                                    }
                                                                case CityCycles.Composite.Enums.BikeStatus.Lost:
                                                                    {
                                                                        <span class="k-list__badge k-list__badge--danger"></span>
                                                                        break;
                                                                    }
                                                                default:
                                                                    {
                                                                        <span class="k-list__badge k-list__badge--warning"></span>
                                                                        break;
                                                                    }
                                                            }

                                                            <span class="k-list__icon"><i class="fa fa-bicycle"></i></span>
                                                            <span class="k-list__text">@(bike.LastUpdate)</span>
                                                            <span class="k-list__time">@(bike.Status)</span>
                                                        </div>
                                                    }
                                                </div>
                                            </td>
                                            <td nowrap="">
                                                <form id="dock-location-form-@(dock.DockId)" asp-antiforgery="true" method="post" asp-action="Delete">
                                                    <input type="hidden" name="DockId" value="@dock.DockId" />
                                                    <span class="dropdown">
                                                        <a href="#" class="btn btn-hover-brand btn-icon btn-pill"
                                                           data-toggle="dropdown" aria-expanded="false">
                                                            <i class="la la-ellipsis-h"></i>
                                                        </a>
                                                        <div class="dropdown-menu dropdown-menu-right"
                                                             x-placement="bottom-end"
                                                             style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-208px, 30px, 0px);">
                                                            <a class="dropdown-item" asp-action="Update" asp-route-id="@dock.DockId">
                                                                <i class="la la-edit"></i> Edit
                                                            </a>
                                                            <a href="#" class="dropdown-item dock-delete" data-dockId="@dock.DockId">
                                                                <i class="la la-trash"></i> Delete
                                                            </a>
                                                        </div>
                                                    </span>
                                                </form>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--end: Datatable -->
    </div>
</div>


@section scripts{

    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-mxmdqiyL9LsxPEBrx2VVgfEW0oj5iF0&callback=initMap"
            type="text/javascript"></script>

    <script src="~/js/docks-locations.js"></script>

    <script>
        // Get the dock locations for all the docks
        let locations = @(Json.Serialize(Model.Select(s => new { s.Location, s.DockId})));

        function initMap(){

            let dockLocations = new DockLocations();
            dockLocations.init();
        }
    </script>
}