﻿@model CityCycles.Composite.Model.Dock.DockRequest


@{
    if (!ViewData.ModelState.IsValid && ViewBag.CustomError == true)
    {

        @:<div class="alert alert-danger">
            @:<div class="alert-icon">
                @: <i class="flaticon-warning"></i>
            @: </div>
            @:<div class="alert-text">
                @Html.ValidationMessage("Custom-Error")
            @: </div>
        @: </div>
    }
}@{
    if (ViewData["hasPassword"] != null)
    {
        <div class="alert alert-success fade show" role="alert">
            <div class="alert-icon"><i class="flaticon-warning"></i></div>
            <div class="alert-text">Dock was successfully created</div>
        </div>
    }
}

<form asp-antiforgery="true" autocomplete="off" asp-action="OnBoard" asp-controller="Docks">
    <div class="k-portlet">
        <div class="k-portlet__head">
            <div class="k-portlet__head-label">
                <span class="k-portlet__head-icon"><i class="flaticon-plus"></i></span>
                <h3 class="k-portlet__head-title">On board a new Dock</h3>
            </div>
        </div>
        <div class="k-portlet__body">
            <div class="form-group row">
                <div class="col-lg-6">
                    <label>Dock Name:</label>
                    <input asp-for="Name" class="form-control" placeholder="Enter name">
                    <span class="form-text text-muted">Please enter the docks name</span>
                    @Html.ValidationMessageFor(s => s.Name, "", new { @class = "text-danger" })
                </div>
                <div class="col-lg-6">
                    <label class="">Dock Location:</label>
                    <div class="row">
                        <div class="col-md-6">
                            <input asp-for="Latitude" step="0.00000001" type="number" class="form-control" placeholder="Latitude">
                            <span class="form-text text-muted">Please enter the Latitude</span>
                        </div>

                        <div class="col-md-6">
                            <input asp-for="Longitude" step="0.00000001" type="number" class="form-control" placeholder="Longitude">
                            <span class="form-text text-muted">Please enter the Longitude</span>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(s => s.Latitude, "", new { @class = "text-danger" })
                    @Html.ValidationMessageFor(s => s.Longitude, "", new { @class = "text-danger" })
                </div>
            </div>

            <hr class="w-50" />

            <div class="form-group row ">
                <div class="col-lg-6">
                    <label>Maximum dock capacity</label>
                    <div class="row align-items-center">
                        <div class="col-4">
                            <input asp-for="Capacity" class="form-control" id="dock-capacity-input" placeholder="Capacity">
                        </div>
                        <div class="col-8">
                            <div id="dock-capacity-input-slider" class="nouislider-drag-danger"></div>
                        </div>
                    </div>

                    <span class="form-text text-muted">Slide to select the dock's capacity.</span>
                    @Html.ValidationMessageFor(s => s.Capacity, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="k-portlet__foot">
            <div class="k-form__actions">
                <div class="row">
                    <div class="col-lg-6">
                        <button type="submit" class="btn btn-success">On Board</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@{
    if (ViewData["hasPassword"] != null)
    {
        <div class="k-portlet col-md-6">
            <div class="k-portlet__head">
                <div class="k-portlet__head-label">
                    <div class="k-portlet__head-title">
                        Please take note of the following details
                    </div>
                </div>
            </div>
            <div class="k-portlet__body">
                <div class="form-group">
                    <label>
                        Dock unique Id
                    </label>
                    <input readonly type="text" class="form-control col-10" value="@ViewData["DockId"]">
                </div>
                <div class="form-group">
                    <label>
                        Dock password
                    </label>
                    <input readonly type="text" class="form-control col-10" value="@ViewData["DockPassword"]">
                </div>
            </div>
        </div>
    }
}
@section scripts{
    <script>$(function () {
            $("#docks-menu-item").addClass("k-menu__item--open k-menu__item--here");
            $("#docks-menu-item-onboard").addClass("k-menu__item--active");
        });</script>

    <script>// init slider
        var slider = document.getElementById('dock-capacity-input-slider');

        noUiSlider.create(slider, {
            start: [1],
            step: 1,
            range: {
                'min': [1],
                'max': [15]
            },
            format: wNumb({
                decimals: 0
            })
        });



        // init slider input
        var sliderInput = document.getElementById('dock-capacity-input');

        slider.noUiSlider.on('update', function (values, handle) {
            sliderInput.value = values[handle];
        });

        sliderInput.addEventListener('change', function () {
            slider.noUiSlider.set(this.value);
        });</script>
}