﻿@using CityCycles.Composite.Data.ManagementData
@model CityCycles.Composite.Model.Dock.DockRequest

@{
    if (!ViewData.ModelState.IsValid && ViewBag.CustomError == true)
    {

        @:<div class="alert alert-danger">
            @:<div class="alert-icon">
                @: <i class="flaticon-warning"></i>
            @: </div>
            @:<div class="alert-text">
                @Html.ValidationMessage("Custom-Error")
            @: </div>
        @: </div>
    }
}


<form asp-antiforgery="true" autocomplete="off" asp-action="Update" asp-controller="Docks">
    <div class="k-portlet">
        <div class="k-portlet__head">
            <div class="k-portlet__head-label">
                <span class="k-portlet__head-icon"><i class="flaticon-plus"></i></span>
                <h3 class="k-portlet__head-title">Update @Model?.Name</h3>
            </div>
        </div>
        <div class="k-portlet__body">
            <div class="form-group row">
                <div class="col-lg-6">
                    <label>Dock Name:</label>
                    <input asp-for="Name" class="form-control" placeholder="Enter name">
                    <span class="form-text text-muted">Please enter the docks name</span>
                    @Html.ValidationMessageFor(s => s.Name, "", new { @class = "text-danger" })
                </div>
                <div class="col-lg-6">
                    <label class="">Dock Location:</label>
                    <div class="row">
                        <div class="col-md-6">
                            <input asp-for="Latitude" type="number" class="form-control" placeholder="Latitude">
                            <span class="form-text text-muted">Please enter the Latitude</span>
                        </div>

                        <div class="col-md-6">
                            <input asp-for="Longitude" type="number" class="form-control" placeholder="Longitude">
                            <span class="form-text text-muted">Please enter the Longitude</span>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(s => s.Latitude, "", new { @class = "text-danger" })
                    @Html.ValidationMessageFor(s => s.Longitude, "", new { @class = "text-danger" })
                </div>
            </div>

            <hr class="w-50" />

            <div class="form-group row ">
                <div class="col-lg-6">
                    <label>Maximum dock capacity</label>
                    <div class="row align-items-center">
                        <div class="col-4">
                            <input asp-for="Capacity" class="form-control" readonly>
                        </div>
                    </div>
                </div>
            </div>

            <hr class="w-50" />

            <div class="k-portlet k-portlet--mobile">
                <div class="k-portlet__head">
                    <div class="k-portlet__head-label">
                        <h3 class="k-portlet__head-title">
                            Bikes in Dock
                        </h3>
                    </div>

                    <div class="k-portlet__head-toolbar">
                        <div class="k-portlet__head-toolbar-wrapper">
                            <div class="dropdown dropdown-inline">
                                <a class="btn btn-brand" asp-route-id=@Model.Id asp-action="AddBike">
                                    <i class="la la-plus"></i>
                                    Add New Bike
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <table class="table table-striped- table-bordered table-hover table-checkable dataTable no-footer"
                       id="k_table_1" role="grid" aria-describedby="k_table_1_info">
                    <thead>


                        <tr role="row">
                            <th aria-controls="k_table_1" rowspan="1" colspan="1">
                                <div class="dataTables_sizing">
                                    Id
                                </div>
                            </th>
                            <th aria-controls="k_table_1" rowspan="1" colspan="1">
                                <div class="dataTables_sizing">
                                    Status
                                </div>
                            </th>
                            <th rowspan="1" colspan="1">
                                <div class="dataTables_sizing">
                                    Last Updated
                                </div>
                            </th>
                            <th rowspan="1" colspan="1">

                            </th>
                        </tr>


                    </thead>

                    <tbody>
                        @foreach (var bike in Model.Bikes)
                        {
                            <tr role="row" class="odd">
                                <td>
                                    @(bike.BikeId)
                                </td>
                                <td>
                                    @(bike.Status)
                                </td>
                                <td>
                                    @(bike.LastUpdate)
                                </td>
                                <td nowrap="">
                                    <input type="hidden" name="BikeId" value="@bike.BikeId" />
                                    <span class="dropdown">
                                        <a href="#" class="btn btn-hover-brand btn-icon btn-pill"
                                           data-toggle="dropdown" aria-expanded="false">
                                            <i class="la la-ellipsis-h"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right"
                                             x-placement="bottom-end"
                                             style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-208px, 30px, 0px);">
                                            <a class="dropdown-item bike-delete" asp-action="DeleteBike" asp-route-id="@Model.Id" asp-route-bike="@bike.BikeId">
                                                <i class="la la-trash"></i> Delete Bike
                                            </a>
                                        </div>
                                    </span>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="k-portlet__foot">
                <div class="k-form__actions">
                    <div class="row">
                        <div class="col-lg-6">
                            <button type="submit" class="btn btn-success">Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>





@section scripts {
    <script>
        $(function () {
            $("#docks-menu-item").addClass("k-menu__item--open k-menu__item--here");
            $("#docks-menu-item-update").addClass("k-menu__item--active");
        });</script>
}