@{
    ViewData["Title"] = "About";
}
<!-- begin::Portlet-->

<div class="k-portlet">
    <div class="k-portlet__body">
        <h3 class="k-heading k-heading--center k-heading--space-lg k-heading--lg">Who are City Cycles</h3>

        <!--begin::Accordion-->
        <div class="accordion accordion-light" id="accordion-about">
            <div class="card">
                <div class="card-header" id="headingOne1">
                    <div class="card-title collapsed" data-toggle="collapse" role="button" data-target="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
                        What have we done?
                    </div>
                </div>
                <div id="collapseOne1" class="collapse" aria-labelledby="headingOne1" data-parent="#accordion-about">
                    <div class="card-body">
                        City Cycles is a bike rental system which allows you to hire a bike for your journey to work/Uni/school or for a leisurely cycle.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo1">
                    <div class="card-title collapsed" data-toggle="collapse" role="button" data-target="#collapseTwo1" aria-expanded="false" aria-controls="collapseTwo1">
                        How do we operate?
                    </div>
                </div>
                <div id="collapseTwo1" class="collapse" aria-labelledby="headingTwo1" data-parent="#accordion-about">
                    <div class="card-body">
                        You can either register beforehand and pre-book a bike for your trip or you may visit your local City Cycles bike dock and hire an available bike there.<br />
                        Rates are charged hourly and the money will be taken out of your account once the bike has been returned.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree1">
                    <div class="card-title collapsed" data-toggle="collapse" role="button" data-target="#collapseThree1" aria-expanded="false" aria-controls="collapseThree1">
                        Where can you find us?
                    </div>
                </div>
                <div id="collapseThree1" class="collapse" aria-labelledby="headingThree1" data-parent="#accordion-about" style="">
                    <div class="card-body">
                        <a class="btn btn-link" asp-controller="Docks" asp-action="Locations"> Click here to view dock locations</a>
                    </div>
                </div>
            </div>
        </div>

        <!--end::Accordion-->
    </div>
</div>

<!--end::Portlet-->

@section scripts {
    <script>$(function () {
            $("#about-menu-item").addClass("k-menu__item--active");
        });</script>
}