﻿@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    City Cycles<br />
    Somewhere, Leeds<br />
    <abbr title="Phone">P:</abbr>
    01611923237
</address>

<address>
    <strong>Queries:</strong> <a href="mailto:citycycles.noreply@gmail.com">citycycles.noreply@gmail.com</a><br />
</address>

@section scripts {
    <script>$(function () {
            $("#contact-menu-item").addClass("k-menu__item--active");
        });</script>
}