﻿@{
    ViewData["Title"] = "Home Page";
}

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="~/images/BikeDock.jpg" alt="Bike Docks">
            <div class="carousel-caption d-none d-md-block">
                <h5>Rent a bike from a dock near you</h5>
                @Html.ActionLink("Find nearest dock", "Locations", "Docks", null, new { @class = "btn btn-brand btn-elevate btn-pill" })
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/images/antiques-bicycle.jpg" alt="Bike">
            <div class="carousel-caption d-none d-md-block">
                <h5>What are you waiting for?</h5>
                @Html.ActionLink("Make a Booking", "MakeBooking", "Bookings", null, new { @class = "btn btn-brand btn-elevate btn-pill" })
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


@section scripts{
    <script>$(function () {
            $("#home-menu-item").addClass("k-menu__item--active");
        });</script>
}