﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>City Cycles - @ViewData["Title"]</title>

    <!--begin::Global Theme Styles -->
    <link href="@Url.Content("~/Theme/vendors.bundle.css")" rel="stylesheet" asp-append-version="true" type="text/css" />
    <link href="@Url.Content("~/Theme/style.bundle.css")" rel="stylesheet" asp-append-version="true" type="text/css" />
    <!--end::Global Theme Styles -->
    <!--begin::Web font -->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>WebFont.load({
            google: { "families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });</script>

    <!--end::Web font -->
    <!--end::Global Theme Styles -->
</head>

<!-- begin::Body -->
<body class="k-page--loading-enabled k-page--loading k-sweetalert2--nopadding k-header--static k-header-mobile--fixed k-aside--enabled k-aside--skin-blue k-aside__brand--skin-blue k-aside--fixed">

    <!-- begin::Page loader -->
    <div class="k-page-loader k-page-loader--base">
        <div class="blockui">
            <span>Loading...</span>
            <span><div class="k-spinner k-spinner--brand"></div></span>
        </div>
    </div>
    <!-- end::Page Loader -->
    <!-- begin:: Page -->
    <!-- begin:: Header Mobile -->
    <div id="k_header_mobile" class="k-header-mobile  k-header-mobile--fixed ">
        <div class="k-header-mobile__toolbar">
            <button class="k-header-mobile__toolbar-toggler k-header-mobile__toolbar-toggler--left"
                    id="k_aside_mobile_toggler">
                <span></span>
            </button>
            <button class="k-header-mobile__toolbar-topbar-toggler" id="k_header_mobile_topbar_toggler">
                <i class="flaticon-more-1"></i>
            </button>
        </div>
    </div>

    <!-- end:: Header Mobile -->
    <div class="k-grid k-grid--hor k-grid--root">
        <div class="k-grid__item k-grid__item--fluid k-grid k-grid--ver k-page">

            <!-- begin:: Aside -->
            <button class="k-aside-close " id="k_aside_close_btn"><i class="la la-close"></i></button>
            <div class="k-aside  k-aside--skin-blue k-aside--fixed  k-grid__item k-grid k-grid--desktop k-grid--hor-desktop"
                 id="k_aside">

                <!-- begin:: Aside -->
                <div class="k-aside__brand  k-aside__brand--skin-blue   k-grid__item" id="k_aside_brand">
                    <div class="k-aside__brand-tools">
                        <button class="k-aside__brand-aside-toggler k-aside__brand-aside-toggler--left"
                                id="k_aside_toggler">
                            <span></span>
                        </button>
                    </div>
                </div>

                <!-- end:: Aside -->
                <!-- begin:: Aside Menu -->
                <div class="k-aside-menu-wrapper    k-grid__item k-grid__item--fluid" id="k_aside_menu_wrapper">
                    <div id="k_aside_menu" class="k-aside-menu  k-aside-menu--skin-blue " data-kmenu-vertical="1"
                         data-kmenu-scroll="1" data-kmenu-dropdown-timeout="500" style="position: relative;">
                        <ul class="k-menu__nav ">

                            <!-- begin::divider-->
                            <li class="k-menu__section ">
                                <h4 class="k-menu__section-text">City Cycles</h4>
                                <i class="k-menu__section-icon flaticon-more-v2"></i>
                            </li>
                            <!-- end::divider-->

                            <li id="home-menu-item" class="k-menu__item " aria-haspopup="true">
                                <a asp-controller="Home" asp-action="Index" class="k-menu__link ">
                                    <i class="k-menu__link-icon fa fa-home"> </i>
                                    <span class="k-menu__link-text">Home</span>
                                </a>
                            </li>
                            <li id="docks-menu-item" class="k-menu__item  k-menu__item--submenu" aria-haspopup="true"
                                data-kmenu-submenu-toggle="hover">

                                <a href="javascript:;" class="k-menu__link k-menu__toggle">
                                    <i class="k-menu__link-icon fa fa-landmark"></i>
                                    <span class="k-menu__link-text">Docks </span>
                                    <i class="k-menu__ver-arrow la la-angle-right"></i>
                                </a>

                                <div class="k-menu__submenu ">
                                    <span class="k-menu__arrow"></span>
                                    <ul class="k-menu__subnav">
                                        <li id="docks-menu-item-locations" class="k-menu__item " aria-haspopup="true">
                                            <a asp-controller="Docks" asp-action="Locations" class="k-menu__link">
                                                <i class="k-menu__link-bullet k-menu__link-bullet--dot"><span></span></i>
                                                <span class="k-menu__link-text">Locations</span>
                                            </a>
                                        </li>

                                        <li id="docks-menu-item-onboard" class="k-menu__item " aria-haspopup="true">
                                            <a asp-controller="Docks" asp-action="Onboard" class="k-menu__link">
                                                <i class="k-menu__link-bullet k-menu__link-bullet--dot"><span></span></i>
                                                <span class="k-menu__link-text">Onboard</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <li id="bookings-menu-item" class="k-menu__item  k-menu__item--submenu" aria-haspopup="true"
                                data-kmenu-submenu-toggle="hover">

                                <a href="javascript:;" class="k-menu__link k-menu__toggle">
                                    <i class="k-menu__link-icon fa fa-file-signature"></i>
                                    <span class="k-menu__link-text">Booking </span>
                                    <i class="k-menu__ver-arrow la la-angle-right"></i>
                                </a>

                                <div class="k-menu__submenu ">
                                    <span class="k-menu__arrow"></span>
                                    <ul class="k-menu__subnav">
                                        <li id="bookings-menu-item-makebooking" class="k-menu__item " aria-haspopup="true">
                                            <a asp-controller="Bookings" asp-action="MakeBooking" class="k-menu__link">
                                                <i class="k-menu__link-bullet k-menu__link-bullet--dot"><span></span></i>
                                                <span class="k-menu__link-text">Make Booking</span>
                                            </a>
                                        </li>
                                        <li id="bookings-menu-item-update" class="k-menu__item " aria-haspopup="true">
                                            <a asp-controller="Bookings" asp-action="MyBookings" class="k-menu__link">
                                                <i class="k-menu__link-bullet k-menu__link-bullet--dot"><span></span></i>
                                                <span class="k-menu__link-text">My Bookings</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <li id="pricing-menu-item" class="k-menu__item  k-menu__item--submenu" aria-haspopup="true"
                                data-kmenu-submenu-toggle="hover">

                                <a href="javascript:;" class="k-menu__link k-menu__toggle">
                                    <i class="k-menu__link-icon fa fa-coins"></i>
                                    <span class="k-menu__link-text">Pricing </span>
                                    <i class="k-menu__ver-arrow la la-angle-right"></i>
                                </a>

                                <div class="k-menu__submenu ">
                                    <span class="k-menu__arrow"></span>
                                    <ul class="k-menu__sub-nav">
                                        <li id="pricing-menu-item-view" class="k-menu__item " aria-haspopup="true">
                                            <a asp-controller="Pricing" asp-action="Table" class="k-menu__link">
                                                <i class="k-menu__link-bullet k-menu__link-bullet--dot"><span></span></i>
                                                <span class="k-menu__link-text">View</span>
                                            </a>
                                        </li>
                                        <li id="pricing-menu-item-create" class="k-menu__item " aria-haspopup="true">
                                            <a asp-controller="Pricing" asp-action="Create" class="k-menu__link">
                                                <i class="k-menu__link-bullet k-menu__link-bullet--dot"><span></span></i>
                                                <span class="k-menu__link-text">Create</span>
                                            </a>
                                        </li>
                                   </ul>
                                </div>
                            </li>

                            <li class="k-menu__section ">
                                <h4 class="k-menu__section-text">General</h4>
                                <i class="k-menu__section-icon flat-icon-more-v2"></i>
                            </li>

                            <li id="contact-menu-item" class="k-menu__item " aria-haspopup="true">
                                <a asp-controller="Home" asp-action="Contact" class="k-menu__link ">
                                    <i class="k-menu__link-icon fa fa-envelope"> </i>
                                    <span class="k-menu__link-text">Contact</span>
                                </a>
                            </li>

                            <li id="about-menu-item" class="k-menu__item " aria-haspopup="true">
                                <a asp-controller="Home" asp-action="About" class="k-menu__link ">
                                    <i class="k-menu__link-icon flaticon-exclamation-2"> </i>
                                    <span class="k-menu__link-text">About</span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>

                <!-- end:: Aside Menu -->
            </div>

            <!-- end:: Aside -->
            <div class="k-grid__item k-grid__item--fluid k-grid k-grid--hor k-wrapper">

                <!-- begin:: Header -->
                <div id="k_header" class="k-header k-grid__item " data-kheader-minimize="on">

                    <!-- begin:: Content Head -->
                    <div class="k-header__title">
                        <a href='@Url.Action("Index", "Home")'>
                            <img class="d-block w-50" src="~/images/Logo2.png" alt="Logo">
                        </a>
                    </div>

                    <!-- end:: Content Head -->
                    <!-- begin:: Header Topbar -->
                    <div class="k-header__topbar">

                        <!--begin: Search -->
                        <div class="k-header__topbar-item k-header__topbar-item--search">
                            <div class="k-input-icon k-input-icon--right">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="k-input-icon__icon k-input-icon__icon--right">
                                    <span>
                                        <i class="la la-search"></i>
                                    </span>
                                </span>
                            </div>
                        </div>

                        <!--end: Search -->
                        <!--begin: Quick actions -->
                        <div class="k-header__topbar-item dropdown">
                            <div class="k-header__topbar-item-wrapper" data-toggle="dropdown" data-offset="30px -2px">
                                <span class="k-header__topbar-icon"><i class="fa fa-bicycle"></i></span>
                            </div>
                            <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-xl">
                                <div class="k-head">
                                    <h3 class="k-head__title">Quick Actions</h3>
                                </div>
                                <div class="k-grid-nav">
                                    <a asp-controller="Customers" asp-action="All" class="k-grid-nav__item">
                                        <div class="k-grid-nav__item-icon"><i class="flaticon-computer"></i></div>
                                        <div class="k-grid-nav__item-title">Customers</div>
                                        <div class="k-grid-nav__item-desc">Manage customers</div>
                                    </a>
                                    <a asp-controller="Bookings" asp-action="AllBookings" class="k-grid-nav__item">
                                        <div class="k-grid-nav__item-icon"><i class="la la-bicycle"></i></div>
                                        <div class="k-grid-nav__item-title">Bookings</div>
                                        <div class="k-grid-nav__item-desc">View All Bookings</div>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <!--end: Quick actions -->
                        <!--begin: User bar -->
                        <div class="k-header__topbar-item k-header__topbar-item--user">
                            <div class="k-header__topbar-item-wrapper" data-toggle="dropdown" data-offset="10px -2px">
                                <span class="k-header__topbar-icon"><i class="flaticon-user"></i></span>
                            </div>
                            <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-md">
                                <div class="k-user-card k-margin-b-50 k-margin-b-30-tablet-and-mobile k-bg-brand">
                                    <div class="k-user-card__wrapper">
                                        <div class="k-user-card__details">
                                            <div class="k-user-card__name">
                                                @{
                                                    if (User.Identity.IsAuthenticated)
                                                    {
                                                        @Html.Raw("<small>Welcome </small>")
                                                        @Html.Raw(", ")
                                                        @Html.Raw($"{User.FindFirst("given_name")?.Value}");
                                                    }
                                                    else
                                                    {
                                                        @:Hello Customer
                                                    }
                                                }

                                            </div>
                                            <div class="k-user-card__position">
                                                @User.FindFirst($"RoleName")?.Value
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <ul class="k-nav k-margin-b-10">
                                    @{
                                        if (!User.Identity.IsAuthenticated)
                                        {
                                            <li class="k-nav__item">
                                                <a asp-controller="Account" asp-action="Register" class="k-nav__link">
                                                    <span class="k-nav__link-icon"><i class="fa fa-seedling"></i></span>
                                                    <span class="k-nav__link-text">Register</span>
                                                </a>
                                            </li>
                                            <li class="k-nav__item">
                                                <a asp-controller="Account" asp-action="Login" class="k-nav__link">
                                                    <span class="k-nav__link-icon"><i class="fa fa-user"></i></span>
                                                    <span class="k-nav__link-text">Login</span>
                                                </a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="k-nav__item">
                                                <a asp-action="MyBookings" asp-controller="Bookings" class="k-nav__link">
                                                    <span class="k-nav__link-icon"><i class="flaticon-interface-9"></i></span>
                                                    <span class="k-nav__link-text">My Bookings</span>
                                                </a>
                                            </li>
                                            <li class="k-nav__item">
                                                <a asp-action="AccountInfo" asp-controller="Account" class="k-nav__link">
                                                        <span class="k-nav__link-icon"><i class="flaticon-profile"></i></span>
                                                        <span class="k-nav__link-text">My Profile </span>
                                                </a>
                                               </li>
                                            <li class="k-nav__item k-nav__item--custom k-margin-t-15">
                                                <a asp-action="Logout" asp-controller="Account"
                                                   class="btn btn-outline-metal btn-hover-brand btn-upper btn-font-dark btn-sm btn-bold">
                                                    Sign Out
                                                </a>
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>

                        <!--end: User bar -->

                    </div>

                    <!-- end:: Header Topbar -->
                </div>

                <!-- end:: Header -->
                <!-- begin:: Content -->
                <div class="k-content   k-grid__item k-grid__item--fluid k-grid k-grid--hor">

                    <!-- begin:: Content Head -->
                    <div class="k-content__head k-grid__item">
                        <h3 class="k-content__head-title">Dashboard</h3>
                        <div class="k-content__head-breadcrumbs">
                            <a href="#" class="k-content__head-breadcrumb-home"><i class="flaticon-home-2"></i></a>
                            <span class="k-content__head-breadcrumb-separator"></span>
                            <a href="" class="k-content__head-breadcrumb-link">Dashboards</a>
                            <span class="k-content__head-breadcrumb-separator"></span>
                            <a href="" class="k-content__head-breadcrumb-link">Default</a>

                            <!-- <span class="k-content__head-breadcrumb-link k-content__head-breadcrumb-link--active">Active link</span> -->
                        </div>
                    </div>
                    <!-- end:: Content Head -->
                    <!-- begin:: Content Body -->
                    <div class="k-content__body k-grid__item k-grid__item--fluid">
                        @RenderBody()
                    </div>

                    <!-- end:: Content Body -->
                </div>

                <!-- end:: Content -->
                <!-- begin:: Footer -->
                <div class="k-footer    k-grid__item k-grid k-grid--desktop k-grid--ver-desktop">
                    <div class="k-footer__copyright">
                        @DateTime.Now.Year &nbsp;&copy;&nbsp;@Html.ActionLink("City Cycles", "About", "Home", null, new { @class = "k-footer__menu-link k-link" })
                    </div>
                    <div class="k-footer__menu">
                        @Html.ActionLink("About", "About", "Home", null, new { @class = "k-footer__menu-link k-link" })
                        @Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "k-footer__menu-link k-link" })
                    </div>
                </div>

                <!-- end:: Footer -->
            </div>
        </div>
    </div>

    <!-- end:: Page -->
    <!-- begin::Scrolltop -->
    <div id="k_scrolltop" class="k-scrolltop">
        <i class="la la-arrow-up"></i>
    </div>
    <!-- end::Scrolltop -->
    <!-- begin::Global Config -->
    <script>let KAppOptions = {
            "colors": {
                "brand": "#5578eb",
                "metal": "#c4c5d6",
                "light": "#ffffff",
                "accent": "#00c5dc",
                "primary": "#5867dd",
                "success": "#34bfa3",
                "info": "#36a3f7",
                "warning": "#ffb822",
                "danger": "#fd3995",
                "focus": "#9816f4"
            }
        };</script>

    <!-- end::Global Config -->
    <!--begin::Global Theme Bundle -->
    <script src="@Url.Content("~/js/vendors.bundle.js")" asp-append-version="true" type="text/javascript"></script>
    <script src="@Url.Content("~/js/scripts.bundle.js")" asp-append-version="true" type="text/javascript"></script>
    <!--end::Global Theme Bundle -->
    <!-- begin:: Child scripts-->
    @RenderSection("Scripts", required: false)
    <!-- end::Child scripts-->

    <script>var KThemeMode = 'released';</script>

    <!-- begin::Page Loader -->
    <script>$(window).on('load', function () {
            $('body').removeClass('k-page--loading');
        });</script>

    <!-- end::Page Loader -->
    <!-- begin:: Tooltip -->
    <script>$(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });</script>
    <!-- end:: Tooltip-->

    <!--begin:: Validation Scripts-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js" asp-append-version="true"></script>
    <!--end:: Validation Scripts-->

    <!--being:: Validation Errors -->
    <script type="text/javascript">$(document).ready(function () {
            $('.input-validation-error').addClass('is-invalid').removeClass('input-validation-error');
            $('.field-validation-error').addClass('is-invalid').removeClass('field-validation-error');

        });</script>
    <!-- end:: Validation Errors-->
</body>

<!-- end::Body -->

</html>
