﻿@model CityCycles.Web.Models.AccountInfoModel

<div class="k-portlet">
    <div class="k-portlet__head">
        <div class="k-portlet__head-label">
            <span class="k-portlet__head-icon"><i class="flaticon-plus"></i></span>
            <h3 class="k-portlet__head-title">Your Account Information</h3>
        </div>
    </div>
    <div class="k-portlet__body">
        <div class="form-group row">
            <div class="col-lg-6">
                <label>Email:</label>
                <input asp-for="Email" class="form-control" disabled>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-lg-6">
                <label class="">Name:</label>
                <div class="row">
                    <div class="col-md-6">
                        <input asp-for="FirstName" class="form-control" placeholder="First Name" disabled>
                    </div>

                    <div class="col-md-6">
                        <input asp-for="LastName" class="form-control" placeholder="Last Name" disabled>
                    </div>
                </div>
            </div>
        </div>

        <hr class="w-50" />
        <div class="form-group row">
            <div class="col-6">
                <div class="row">
                    <div class="col-md-6">
                        <label for="PostCode" class="">Postcode:</label>
                        <input asp-for="PostCode" class="form-control" placeholder="Postcode" disabled>
                    </div>

                    <div class="col-md-6">
                        <label for="PostCode" class="">City:</label>
                        <input asp-for="City" class="form-control" placeholder="City" disabled>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-lg-6">
                <label>Street Address:</label>
                <input asp-for="StreetAddress" class="form-control" placeholder="Street Address" disabled>
            </div>
        </div>

    </div>

    <div class="k-portlet__foot">
        <div class="k-form__actions">
            <div class="row">
                <div class="col-lg-6">
                    <a asp-action="UpdateAccountInfo" class="btn btn-primary">Edit</a>
                </div>
            </div>
        </div>
    </div>
</div>