﻿@model CityCycles.Web.Models.RegisterModel
@{
    Layout = null;
}
<html lang="en">

<!-- begin::Head -->
<head>
    <meta charset="utf-8" />
    <title>Register </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!--begin::Global Theme Styles -->
    <link href="@Url.Content("~/Theme/vendors.bundle.css")" rel="stylesheet" asp-append-version="true" type="text/css" />
    <link href="@Url.Content("~/Theme/style.bundle.css")" rel="stylesheet" asp-append-version="true" type="text/css" />
    <!--end::Global Theme Styles -->
    <!--begin::Web font -->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>WebFont.load({
            google: { "families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });</script>

    <!--end::Web font -->
    <!--begin::Global Theme Styles -->

    <link rel="shortcut icon" href="/static/logos/favicon.ico" />
</head>

<!-- end::Head -->
<!-- begin::Body -->
<body class="k-login-v2--enabled k-header--fixed k-header--skin-dark k-header-mobile--skin-dark k-header-mobile--fixed k-aside--enabled k-aside--fixed k-aside--skin-light k-aside__brand--skin-dark k-aside-secondary--enabled">

    <!-- begin:: Page -->
    <div class="k-grid k-grid--ver k-grid--root k-page">
        <div class="k-grid__item   k-grid__item--fluid k-grid  k-grid k-grid--hor k-login-v2" id="k_login_v2">

            <!--begin::Item-->
            <div class="k-grid__item  k-grid--hor">

                <!--begin::Heade-->
                <div class="k-login-v2__head">
                    <div class="k-login-v2__head-logo">
                        <div class="k-header__title">
                            <a href='@Url.Action("Index", "Home")'>
                                <img class="d-block w-50" src="~/images/Logo2.png" alt="Logo">
                            </a>
                        </div>
                    </div>
                    <div class="k-login-v2__head-signup">
                        <span>Got an account?</span>
                        @Html.ActionLink("Login", "Login", null, new { @class = "k-link k-font-brand" })
                    </div>
                </div>

                <!--begin::Head-->
            </div>

            <!--end::Item-->
            <!--begin::Item-->
            <div class="k-grid__item  k-grid  k-grid--ver  k-grid__item--fluid ">

                <!--begin::Body-->
                <div class="k-login-v2__body">

                    <!--begin::Wrapper-->
                    <div class="k-login-v2__body-wrapper">
                        <div class="k-login-v2__body-container">
                            <div class="k-login-v2__body-title">
                                <h3>Register</h3>
                            </div>
                            
                            <!--begin::Form-->
                            <form id="login-form" asp-action="Register" asp-antiforgery="true" class="k-login-v2__body-form k-form k-login-v2__body-form--border" autocomplete="off">
                                <div class="form-group">
                                    @{
            if (!ViewData.ModelState.IsValid)
            {

                            @:<div class="alert alert-danger">
                                @:<div class="alert-icon">
                                    @: <i class="flaticon-warning"></i>
                                @: </div>
                                @:<div class="alert-text">
                                    @Html.ValidationMessage("Custom-Error")
                                @: </div>
                            @: </div>
}
                                    }
                                </div>

                                <div class="form-group">
                                    <h6>Basic info</h6>
                                </div>

                                <div class="form-group">
                                    @Html.ValidationMessageFor(s => s.FirstName, "", new { @class = "text-danger" })
                                    <input asp-for="FirstName" class="form-control" placeholder="First Name" />
                                </div>
                                <div class="form-group">
                                    @Html.ValidationMessageFor(s => s.LastName, "", new { @class = "text-danger" })
                                    <input asp-for="LastName" class="form-control" placeholder="Last Name" />
                                </div>
                                <div class="form-group">
                                    @Html.ValidationMessageFor(s => s.Email, "", new { @class = "text-danger" })
                                    <input asp-for="Email" class="form-control" placeholder="Email" />
                                </div>
                                <div class="form-group">
                                    @Html.ValidationMessageFor(s => s.Password, "", new { @class = "text-danger" })
                                    <input asp-for="Password" type="password" class="form-control" placeholder="Password" />
                                </div>
                                <div class="form-group">
                                    @Html.ValidationMessageFor(s => s.ConfirmPassword, "", new { @class = "text-danger" })
                                    <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm Password" />
                                </div>

                                <div class="form-group">
                                    <h6>Address</h6>
                                </div>

                                <div class="form-group">
                                    @Html.ValidationMessageFor(s => s.StreetAddress, "", new { @class = "text-danger" })
                                    <input asp-for="StreetAddress" class="form-control" placeholder="Street Address" />
                                </div>

                                <div class="form-group">
                                    @Html.ValidationMessageFor(s => s.City, "", new { @class = "text-danger" })
                                    <input asp-for="City" class="form-control" placeholder="City" />
                                </div>

                                <div class="form-group">
                                    @Html.ValidationMessageFor(s => s.PostCode, "", new { @class = "text-danger" })
                                    <input asp-for="PostCode" class="form-control" placeholder="Postal Code" />
                                </div>

                            </form>

                            <!--end::Form-->
                            <!--begin::Action-->
                            <div class="k-login-v2__body-action k-login-v2__body-action--brand">
                                <button onclick="$('#login-form').submit();" type="submit"
                                        class="btn btn-pill btn-brand btn-elevate">
                                    Register
                                </button>
                            </div>

                            <!--end::Action-->
                            <!--begin::Separator-->
                            <div class="k-login-v2__body-separator">
                                <div class="k-separator k-separator--space-lg  k-separator--border-solid"></div>
                            </div>
                        </div>
                    </div>

                    <!--end::Wrapper-->
                </div>

                <!--begin::Body-->
            </div>

            <!--end::Item-->
            <!--begin::Item-->
            <div class="k-grid__item">
                <div class="k-login-v2__footer">
                    <div class="k-login-v2__footer-link">
                        @Html.ActionLink("About", "About", "Home", null, new { @class = "k-link k-font-brand" })
                        @Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "k-link k-font-brand" })
                    </div>
                    <div class="k-login-v2__footer-info">
                        @DateTime.Now.Year &nbsp;&copy;&nbsp;@Html.ActionLink("City Cycles", "About", "Home", null, new { @class = "k-footer__menu-link k-link" })
                    </div>
                </div>
            </div>

            <!--end::Item-->
        </div>
    </div>

    <!-- end:: Page -->
    <!-- begin::Global Config -->
    <script>var KAppOptions = {
            "colors": {
                "brand": "#5c4de5",
                "metal": "#c4c5d6",
                "light": "#ffffff",
                "accent": "#00c5dc",
                "primary": "#5867dd",
                "success": "#34bfa3",
                "info": "#36a3f7",
                "warning": "#ffb822",
                "danger": "#fd3995",
                "focus": "#9816f4"
            }
        };</script>

    <!-- end::Global Config -->
    <!--begin::Global Theme Bundle -->
    <script src="@Url.Content("~/js/vendors.bundle.js")" asp-append-version="true" type="text/javascript"></script>
    <script src="@Url.Content("~/js/scripts.bundle.js")" asp-append-version="true" type="text/javascript"></script>
    <!--end::Global Theme Bundle -->

    <script>var KThemeMode = 'released';</script>
</body>

<!-- end::Body -->
</html>