@model CityCycles.Web.Models.AccountInfoModel

<form id="updateAccountInfo-form" method="post" asp-antiforgery="true" autocomplete="off" asp-action="UpdateAccountInfo" asp-controller="Account">
    <div class="k-portlet">
        <div class="k-portlet__head">
            <div class="k-portlet__head-label">
                <span class="k-portlet__head-icon"><i class="flaticon-plus"></i></span>
                <h3 class="k-portlet__head-title">Update Your Account Information</h3>
            </div>
        </div>
        <div class="k-portlet__body">
            <div class="form-group row">
                <div class="col-lg-6">
                    <label>Email:</label>
                    <input asp-for="Email" class="form-control" placeholder="Enter new email">
                    <span class="form-text text-muted">Please enter your new email</span>
                    @Html.ValidationMessageFor(s => s.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-6">
                    <label class="">Name:</label>
                    <div class="row">
                        <div class="col-md-6">
                            <input asp-for="FirstName" class="form-control" placeholder="First Name">
                            <span class="form-text text-muted">Please enter your new preferred First Name</span>
                        </div>

                        <div class="col-md-6">
                            <input asp-for="LastName" class="form-control" placeholder="Last Name">
                            <span class="form-text text-muted">Please enter your new preferred Last Name</span>
                        </div>


                    </div>
                    @Html.ValidationMessageFor(s => s.FirstName, "", new { @class = "text-danger" })
                    @Html.ValidationMessageFor(s => s.LastName, "", new { @class = "text-danger" })
                </div>
            </div>

            <hr class="w-50" />
            <div class="form-group row">
                <div class="col-6">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="PostCode" class="">Postcode:</label>
                            <input asp-for="PostCode" class="form-control" placeholder="Postcode">
                            <span class="form-text text-muted">Please enter your new Postcode</span>
                        </div>

                        <div class="col-md-6">
                            <label for="PostCode" class="">City:</label>
                            <input asp-for="City" class="form-control" placeholder="City">
                            <span class="form-text text-muted">Please enter your new City</span>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(s => s.PostCode, "", new { @class = "text-danger" })
                    @Html.ValidationMessageFor(s => s.City, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-6">
                    <label>Street Address:</label>
                    <input asp-for="StreetAddress" class="form-control" placeholder="Street Address">
                    <span class="form-text text-muted">Please enter your new Street Address</span>
                    @Html.ValidationMessageFor(s => s.StreetAddress, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>

        <div class="k-portlet__foot">
            <div class="k-form__actions">
                <div class="row">
                    <div class="col-lg-6">

                        <button type="submit" class="btn btn-success">
                            Confirm
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>