﻿@model CityCycles.Web.Models.BookingModel

<input type="hidden" id="Payment-Token" value="@ViewData["PaymentToken"]" />

<!--being:: Form -->
<form autocomplete="off" method="post" class="k-form" asp-action="MakeBooking" asp-antiforgery="true">
    <!--begin::Portlet-->
    <div class="k-portlet" id="k_portlet">
        <div class="k-portlet__head k-portlet__head--lg">
            <div class="k-portlet__head-label">
                <spa class="k-portlet__head-icon">
                    <i class="flaticon-time-3"></i>
                </spa>
                <h3 class="k-portlet__head-title">
                    Booking
                </h3>
            </div>
            <div class="k-portlet__head-toolbar">
                <div class="k-portlet__head-group">
                </div>
            </div>
        </div>
        <div class="k-portlet__body">
            @* The start and end dates to be sent to backend*@

            <div class="form-group row">
                <div class="col-lg-6">
                    <label>Select a dock. </label>
                    @Html.DropDownList("DockId", null, "Select Dock", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(s => s.DockId, "", new { @class = "text-danger" })
                </div>

                <div class="col-lg-6">
                    <label>Select a date ranage.</label>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <div class="input-group date">
                                <input type="text" asp-for="StartDate" id="startDateId" class="form-control booking-datepicker" placeholder="Select date &amp; time">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="flaticon-calendar-with-a-clock-time-tools"></i></span>
                                </div>
                            </div>
                            @Html.ValidationMessageFor(s => s.StartDate, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6">
                            <div class="input-group date">
                                <input type="text" asp-for="EndDate" id="endDateId" class="form-control booking-datepicker" placeholder="Select end date &amp; time">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="flaticon-calendar-with-a-clock-time-tools"></i></span>
                                </div>
                            </div>
                            @Html.ValidationMessageFor(s => s.EndDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6">
                    <div class="k-portlet k-portlet--height-fluid">
                        <div class="k-portlet__head">
                            <div class="k-portlet__head-label">
                                <h3 class="k-portlet__head-title">Total Booking</h3>
                            </div>
                        </div>
                        <div class="k-portlet__body">
                            <table class="checkout__summary">
                                <thead>
                                    <tr>
                                        <th>Item</th>
                                        <th>Quantity</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Booking Fee</td>
                                        <td>1</td>
                                        <td>£ @(Model.Pricing.BookingFee.ToString("0.##"))</td>
                                    </tr>
                                    <tr>
                                        <td>Booking Time</td>
                                        <td id="bookingTime"></td>
                                        <td id="bookingTimeCost"></td>
                                    </tr>
                                    <tr>
                                        <td><b>GRAND TOTAL:</b></td>
                                        <td></td>
                                        <td id="finalTotal"></td>
                                    </tr>
                                </tbody>
                            </table>
                            <p>*Note that additional fees may be charged if the bike is not returned on time</p>
                        </div>
                    </div>
                </div>

                <div id="payment-form" class="col-md-6">

                </div>
            </div>

            <!--end: Form-->
        </div>
        <div class="k-portlet__foot">
            <div class="k-form__actions k-form__actions">
                <div class="form-group row col-md-6">
                    <label class="col-3 col-form-label">Pay Now</label>
                    <div class="col-3">
                        <span class="k-switch k-switch--success">
                            <label>
                                <input asp-for="Paynow">
                                <span></span>
                            </label>
                        </span>
                    </div>
                    <div class="col-md-3">
                        <button type="submit" class="btn btn-brand">Place Book</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


@section scripts {
    <script>
    $(function () {
            $("#bookings-menu-item").addClass("k-menu__item--open k-menu__item--here");
            $("#bookings-menu-item-makebooking").addClass("k-menu__item--active");
        });</script>

    <script>
        // Contains the pricing model
        let pricing = @(Json.Serialize(Model.Pricing));
    </script>

    <script src="https://js.braintreegateway.com/js/braintree-2.32.1.min.js" asp-append-version="true"></script>
    <script src="~/js/bookings-create.js"></script>
}