﻿@model List<CityCycles.Web.Models.ReceiptModel>
@using CityCycles.Composite.Data.ManagementData

@{
    ViewData["Title"] = "Your Bookings";
}

<div class="k-portlet k-portlet--mobile">
    <div class="k-portlet__head">
        <div class="k-portlet__head-label">
            <h3 class="k-portlet__head-title">
                Bookings
            </h3>
        </div>
    </div>

    <div class="k-portlet__body">

        <!--begin: Datatable -->
        <div id="k_table_1_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
            <div class="row">
                <div class="col-12">
                    @{
                        if (!ViewData.ModelState.IsValid)
                        {

                            @:<div class="alert alert-danger">
                                @:<div class="alert-icon">
                                    @: <i class="flaticon-warning"></i>
                                @: </div>
                                @:<div class="alert-text">
                                    @Html.ValidationMessage("Custom-Error")
                                @: </div>
                            @: </div>
                        }
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="dataTables_scroll">
                        <div class="dataTables_scrollBody"
                             style="position: relative; overflow: auto; width: 100%; max-height: 50vh;">
                            <table class="table table-striped- table-bordered table-hover table-checkable dataTable no-footer"
                                   id="k_table_1" role="grid" aria-describedby="k_table_1_info">
                                <thead>
                                    <tr role="row">
                                        <th aria-controls="k_table_1" rowspan="1" colspan="1">
                                            <div class="dataTables_sizing">
                                                Booking ID
                                            </div>
                                        </th>
                                        <th aria-controls="k_table_1" rowspan="1" colspan="1">
                                            <div class="dataTables_sizing">
                                                Start date
                                            </div>
                                        </th>
                                        <th aria-controls="k_table_1" rowspan="1" colspan="1">
                                            <div class="dataTables_sizing">
                                                End date
                                            </div>
                                        </th>
                                        <th aria-controls="k_table_1" rowspan="1" colspan="1">
                                            <div class="dataTables_sizing">
                                                Status
                                            </div>
                                        </th>
                                        <th aria-controls="k_table_1" rowspan="1" colspan="1">
                                            <div class="dataTables_sizing">
                                                Time
                                            </div>
                                        </th>
                                        <th aria-controls="k_table_1" rowspan="1" colspan="1">
                                            <div class="dataTables_sizing">
                                                Cost
                                            </div>
                                        </th>
                                        <th rowspan="1" colspan="1">

                                        </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var booking in Model)
                                    {
                                        <tr role="row" class="odd">
                                            <td>
                                                @(booking.BookingId)
                                            </td>
                                            <td>
                                                @(booking.StartDate)
                                            </td>
                                            <td>
                                                @(booking.EndDate)
                                            </td>
                                            <td>
                                                @{
                                                    switch (booking.Status)
                                                    {
                                                        case CityCycles.Composite.Data.ManagementData.BookingStatus.Processed:
                                                            {
                                                                @:<span class="badge badge-pill badge-primary">Processed</span>
                                                                break;
                                                            }
                                                        case CityCycles.Composite.Data.ManagementData.BookingStatus.Accepted:
                                                            {
                                                                @:<span class="badge badge-pill badge-success">Accepted</span>
                                                                break;
                                                            }
                                                        case CityCycles.Composite.Data.ManagementData.BookingStatus.Declined:
                                                            {
                                                                @:<span class="badge badge-pill badge-danger">Declined</span>
                                                                break;
                                                            }
                                                        default:
                                                            {
                                                                @:<span class="badge badge-pill badge-secondary">@booking.Status ...</span>
                                                                break;
                                                            }
                                                    }
                                                }
                                            </td>
                                            <td>
                                                @{

                                                    @:@booking.TimeTotal Hours
                                                }

                                            </td>
                                            <td>
                                                @{
                                                    if (booking.Status == BookingStatus.Accepted)
                                                    {
                                                        @:£@(booking.GrandTotal)
                                                    }
                                                }
                                            </td>
                                            <td>
                                                @{
                                                    if (booking.Status == BookingStatus.Accepted)
                                                    {
                                                        <a asp-controller="Bookings" asp-action="Receipt" asp-route-id="@booking.BookingId" class="btn btn-link ">
                                                            <span class="odd">View Receipt</span>
                                                        </a>
                                                    }
                                                    else if (booking.Status == BookingStatus.Declined)
                                                    {
                                                        <a asp-controller="Bookings" asp-action="RetryPayment" asp-route-id="@booking.BookingId" class="btn btn-warning btn-sm">
                                                            <i></i>
                                                            <span class="odd">Retry payment</span>
                                                        </a>
                                                    }
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>


                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--end: Datatable -->
    </div>
</div>

@section scripts {
    <script>$(function () {
            $("#bookings-menu-item").addClass("k-menu__item--open k-menu__item--here");
            $("#bookings-menu-item-update").addClass("k-menu__item--active");
        });</script>
}