﻿@model CityCycles.Web.Models.ReceiptModel
@{
    ViewData["Title"] = "Receipt";
}

<div class="k-portlet">
    <div class="k-invoice-v2">
        <div class="k-invoice-v2__header">
            <div class="k-invoice-v2__header-left">
                <h1 class="k-invoice-v2__title">RECEIPT</h1>
            </div>
            <div class="k-invoice-v2__header-right">
                <div class="k-invoice-v2__companyinfo">
                    City Cycles
                </div>
            </div>
        </div>
        <div class="k-invoice-v2__line"></div>
        <div class="k-invoice-v2__details">
            <div class="k-invoice-v2__details-left">
                <div class="k-invoice-v2__details-label">INVOICE TO:</div>
                <div class="k-invoice-v2__details-value">
                    @(Model.FirstName) @(Model.LastName) 
                </div>
            </div>
            <div class="k-invoice-v2__details-right">
                <div class="k-invoice-v2__detail--date">
                    <div class="k-invoice-v2__details-label">START DATE:</div>
                    <div class="k-invoice-v2__details-value">@(Model.StartDate)</div>
                </div>
                <div class="k-invoice-v2__detail--date">
                    <div class="k-invoice-v2__details-label">END DATE:</div>
                    <div class="k-invoice-v2__details-value">@(Model.EndDate)</div>
                </div>
                <div class="k-invoice-v2__details--invoiceno">
                    <div class="k-invoice-v2__details-label">BOOKING ID:</div>
                    <div class="k-invoice-v2__details-value">@(Model.BookingId)</div>
                </div>
            </div>
        </div>
        <div class="k-invoice-v2__body">
            <div class="table-responsive">
                <table class="k-invoice-v2__summary">
                    <thead class="k-invoice-v2__summary-header">
                        <tr>
                            <th>Item</th>
                            <th>Quantity</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody class="k-invoice-v2__summary-body">
                        <tr>
                            <td>Booking Fee</td>
                            <td>1</td>
                            <td>£ @(Model.BookingFee)</td>
                        </tr>
                        <tr>
                            <td>Booking Time</td>
                            <td>@(Model.Units)</td>
                            <td>£ @(Model.TimeTotal)</td>
                        </tr>
                        <tr>
                            <td><pre>     </pre></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><pre>     </pre></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="strong"><b>Amount Charged</b></td>
                            <td></td>
                            <td><b>£@Model.GrandTotal</b></td>
                        </tr>

                    </tbody>
                </table>
            </div>


            
        </div>
    </div>
</div>